	/*
  	Flaticon icon font: Flaticon
  	Creation date: 07/02/2019 03:56
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}


.flaticon-back:before { content: "\f100"; }
.flaticon-next:before { content: "\f101"; }
.flaticon-team:before { content: "\f102"; }
.flaticon-focus:before { content: "\f103"; }
.flaticon-recruitment:before { content: "\f104"; }
.flaticon-develop:before { content: "\f105"; }
.flaticon-develop-1:before { content: "\f106"; }
.flaticon-left-arrow:before { content: "\f107"; }
.flaticon-next-1:before { content: "\f108"; }
.flaticon-research:before { content: "\f109"; }
.flaticon-team-1:before { content: "\f10a"; }
.flaticon-network:before { content: "\f10b"; }
.flaticon-icon-1401914:before { content: "\f10c"; }
.flaticon-select:before { content: "\f10d"; }
.flaticon-certificate:before { content: "\f10e"; }
.flaticon-conference:before { content: "\f10f"; }
.flaticon-lesson:before { content: "\f110"; }
.flaticon-interview:before { content: "\f111"; }
.flaticon-consulting:before { content: "\f112"; }
.flaticon-laptop:before { content: "\f113"; }
.flaticon-linkedin:before { content: "\f114"; }
.flaticon-twitter:before { content: "\f115"; }
.flaticon-left-arrow-1:before { content: "\f116"; }
.flaticon-research-1:before { content: "\f117"; }
.flaticon-skills:before { content: "\f118"; }
.flaticon-pdf:before { content: "\f119"; }
.flaticon-download:before { content: "\f11a"; }
.flaticon-plan:before { content: "\f11b"; }
.flaticon-performance:before { content: "\f11c"; }
.flaticon-cog:before { content: "\f11d"; }
.flaticon-evaluate:before { content: "\f11e"; }
.flaticon-hr:before { content: "\f11f"; }
.flaticon-model:before { content: "\f120"; }
.flaticon-training:before { content: "\f121"; }
.flaticon-target:before { content: "\f122"; }
.flaticon-salesman:before { content: "\f123"; }
.flaticon-analytics:before { content: "\f124"; }
.flaticon-user:before { content: "\f125"; }
.flaticon-search-engine:before { content: "\f126"; }
.flaticon-consultation:before { content: "\f127"; }
.flaticon-segmentation:before { content: "\f128"; }
.flaticon-hierarchy:before { content: "\f129"; }
.flaticon-flow-chart:before { content: "\f12a"; }
.flaticon-resources:before { content: "\f12b"; }
.flaticon-process:before { content: "\f12c"; }
.flaticon-production:before { content: "\f12d"; }
.flaticon-structure:before { content: "\f12e"; }
.flaticon-presentation:before { content: "\f12f"; }
.flaticon-data-management:before { content: "\f130"; }
.flaticon-help:before { content: "\f131"; }
.flaticon-performance-1:before { content: "\f132"; }
.flaticon-person:before { content: "\f133"; }
.flaticon-description:before { content: "\f134"; }
.flaticon-solution:before { content: "\f135"; }
.flaticon-man:before { content: "\f136"; }
.flaticon-teacher:before { content: "\f137"; }
.flaticon-headquarters:before { content: "\f138"; }
.flaticon-salesman-1:before { content: "\f139"; }
.flaticon-businessman:before { content: "\f13a"; }
.flaticon-programmer:before { content: "\f13b"; }
.flaticon-develop-2:before { content: "\f13c"; }
.flaticon-folder:before { content: "\f13d"; }
.flaticon-architect:before { content: "\f13e"; }
.flaticon-community:before { content: "\f13f"; }
.flaticon-strategy:before { content: "\f140"; }
.flaticon-process-1:before { content: "\f141"; }
.flaticon-analytics-1:before { content: "\f142"; }
.flaticon-calculations:before { content: "\f143"; }
.flaticon-values:before { content: "\f144"; }
.flaticon-team-2:before { content: "\f145"; }
.flaticon-cooperative:before { content: "\f146"; }
.flaticon-growth:before { content: "\f147"; }
.flaticon-portfolio:before { content: "\f148"; }
.flaticon-promotion:before { content: "\f149"; }
.flaticon-career:before { content: "\f14a"; }
.flaticon-hand:before { content: "\f14b"; }
.flaticon-progress:before { content: "\f14c"; }
.flaticon-idea:before { content: "\f14d"; }
.flaticon-human-resources:before { content: "\f14e"; }
.flaticon-analytics-2:before { content: "\f14f"; }
.flaticon-sketch:before { content: "\f150"; }
.flaticon-economics:before { content: "\f151"; }
.flaticon-enterprise:before { content: "\f152"; }
.flaticon-rating:before { content: "\f153"; }
.flaticon-bars:before { content: "\f154"; }
.flaticon-company:before { content: "\f155"; }
.flaticon-ceo-office:before { content: "\f156"; }
.flaticon-brainstorming:before { content: "\f157"; }
.flaticon-business:before { content: "\f158"; }
.flaticon-leadership:before { content: "\f159"; }
.flaticon-promotion-1:before { content: "\f15a"; }
.flaticon-high-five:before { content: "\f15b"; }